.big {
    height: 400px;
    width: 400px;
    background-color: #a6a9b6;
    border: 10px #666360 solid;
    position: relative
}

.small {
    height: 200px;
    width: 200px;
}

.orange {
    background-color: #ff912e;
    position: absolute;
    bottom:0;
}

.gray {
    background-color:#e4e4e4 ;
    position: absolute;
    right:0;
}

